[Desktop Entry]
Version=1.0
Name=XFCE-RS
Comment=Standard-compliant XFCE experience driven by Rust components
Exec=xfce-rs-session
Terminal=false
TryExec=xfce-rs-session
Type=Application
DesktopNames=XFCE-RS
Keywords=xfce;wm;rust;desktop;
